@model SmartDomain.Course
@using SmartHelper;
<section class="content-header">
    <h1>
        Courses
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.Title</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Courses/ViewCourse">

            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
                <br />
            }
            <div class="container">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
            <div class="box-body">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Title" value="@Model.Title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Sessions</label>
                    <div class="col-sm-10">
                        <a data-toggle="modal" data-target="#CourseSessions">@Model.CourseOutlines?.Count()</a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>
                    <div class="col-sm-2">
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(model => model.IsActive)
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Changed By</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                    </div>
                </div>
                <input type="hidden" name="CourseID" value="@Model.CourseID" />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Courses" asp-action="Courses">Cancel</a>
                @if (UtilityService.HasPermission(Permissions.Update_Course))
                {
                    <button type="submit" class="btn btn-info">Update</button>
                }
                @if (UtilityService.HasPermission(Permissions.Delete_Course))
                {
                    <a class="btn btn-danger" asp-controller="Courses" asp-action="Delete" asp-route-id="@Model.CourseID">Delete</a>
                }
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Additional Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->

                    <ul class="nav nav-tabs">
                        @if (UtilityService.HasPermission(Permissions.View_Course_Fee))
                        {
                            <li class="active">
                                <a href="#Fees" data-toggle="tab">Fees</a>
                            </li>
                        }
                        @if (UtilityService.HasPermission(Permissions.View_Course_Outline))
                        {
                            <li>
                                <a href="#CourseOutline" data-toggle="tab">Sessions</a>
                            </li>
                        }

                        @if (UtilityService.HasPermission(Permissions.View_Course_Intake))
                        {
                            <li>
                                <a href="#CourseIntake" data-toggle="tab">Intakes</a>
                            </li>
                        }
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active " id="Fees">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Fees
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Fee Name</th>
                                                <th>Amount</th>
                                                <th>Payment Terms</th>
                                                <th>Is Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CourseFees != null)
                                            {

                                                foreach (var item in Model.CourseFees)
                                                {
                                                    <tr>
                                                        @{
                                                            string activeStatus = UtilityService.ShowYesOrNo(item.IsActive);
                                                        }

                                                        @if (UtilityService.HasPermission(Permissions.View_Product_Fee))
                                                        {
                                                            <td><a asp-controller="Courses" asp-action="ViewCourseFee" asp-route-id="@item.CourseFeeID">@item.Name</a></td>
                                                        }
                                                        else
                                                        {
                                                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                        }

                                                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.Frequency.Name)</td>
                                                        <td>@activeStatus</td>

                                                    </tr>
                                                }
                                            }
                                    </table>
                                </div>
                            </div>

                            <div class="box-footer">
                                @if (UtilityService.HasPermission(Permissions.Add_Course_Fee))
                                {
                                    <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#FeeForm">Add Fee</a>
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="CourseOutline">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Information
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Is Active</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CourseOutlines != null)
                                            {

                                                foreach (var item in Model.CourseOutlines)
                                                {
                                                    <tr>
                                                        @{
                                                            string activeStatus = UtilityService.ShowYesOrNo(item.IsActive);

                                                        }
                                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                        <td>@activeStatus</td>
                                                        <td><a target="_blank" asp-controller="Courses" asp-action="ViewCourseOutline" asp-route-outlineid="@item.CourseOutlineID" asp-route-courseid="@item.CourseID">View</a> | <a asp-controller="Courses" asp-action="ActionCourseOutline" asp-route-outlineid="@item.CourseOutlineID" asp-route-courseid="@item.CourseID">Delete</a></td>
                                                    </tr>
                                                }
                                            }
                                    </table>
                                </div>
                            </div>

                            <div class="box-footer">
                                <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#AddCourseOutline">Add Session</a>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="CourseIntake">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Information
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Duration</th>
                                                <th>Maximum Capacity</th>
                                                <th>Is Active</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.CourseIntakes != null)
                                            {

                                                foreach (var item in Model.CourseIntakes)
                                                {
                                            <tr>
                                                @{
                                                    string activeStatus = UtilityService.ShowYesOrNo(item.IsActive);

                                                }
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                                                <td>@Html.DisplayFor(modelItem => item.MaximumCapacity)</td>
                                                <td>@activeStatus</td>
                                                <td><a target="_blank" asp-controller="Courses" asp-action="ViewCourseIntake" asp-route-intakeId="@item.CourseIntakeID" asp-route-courseid="@item.CourseID">View</a> | <a asp-controller="Courses" asp-action="ActionCourseIntake" asp-route-courseIntakeId="@item.CourseIntakeID" asp-route-courseid="@item.CourseID">Delete</a></td>
                                            </tr>
                                                }
                                            }
                                    </table>
                                </div>
                            </div>
                            @if (UtilityService.HasPermission(Permissions.Add_Course_Intake))
                            {
                                <div class="box-footer">
                                    <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#AddCourseIntake">Add Intake</a>
                                </div>
                            }
                            </div>

                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="AddCourseOutline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Courses" asp-action="AddCourseOutline">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Course:</label>
                        <input type="text" class="form-control" value="@Model.Title" disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Session:</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"> Is Active</label>
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-val="true" id="IsActive"
                                       name="IsActive" value="true">
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="CourseID" value="@Model.CourseID" />

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Session</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="AddCourseIntake" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Courses" asp-action="AddCourseIntake">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Course:</label>
                        <input type="text" class="form-control" value="@Model.Title" disabled>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Intake Name:</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Start Date</label>
                            <input type="date" class="form-control" name="StartDate" ID="StartDate" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">End Date</label>
                            <input type="date" class="form-control" name="EndDate" ID="EndDate" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Maximum Capacity:</label>
                        <input type="text" class="form-control" name="MaximumCapacity">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label"> Is Active</label>
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-val="true" id="IsActive"
                                       name="IsActive" value="true">
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="CourseID" value="@Model.CourseID" />

                </div>
                <div class="modal-footer">
                    @if (UtilityService.HasPermission(Permissions.Add_Course_Intake))
                    {<button type="submit" class="btn btn-primary">Save Intake</button>}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="CourseSessions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Client" asp-action="UpdateSessions">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                                <tr>
                                    @{
                                        int cnt = 0;
                                        List<CheckBoxListItem> sessionsList = ViewBag.SessionsList;

                                        foreach (var session in sessionsList)
                                        {
                                            if (cnt++ % 2 == 0)
                                            {
                                            @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="selectedSessions"
                                                       value="@session.ID"
                                                       @(Html.Raw(session.IsChecked ? "checked=\"checked\"" : "")) />
                                                @session.Name
                                            @:</td>
                                        }
                                    @:</tr>
                                    }
                                </table>
                            </div>

                        </div>
                       
                    </div>
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>


<div class="modal fade" id="FeeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Courses" asp-action="AddCourseFee">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                        <input type="text" class="form-control" name="Name">
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                        <textarea class="form-control" name="Description" rows="5"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>

                        <input type="text" class="form-control" id="Amount" name="CostAmount">
                        <span id="AmountError" class="text-danger text-bold"></span>

                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Frequency</label>

                        <select asp-for="FrequencyID" class="form-control" asp-items="ViewBag.FrequencyList">
                            <option value="">----</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>

                            <div class="checkbox">
                                <label class="checkbox-inline">
                                    <input type="checkbox" data-val="true" id="IsActive"
                                           name="IsActive" value="true">
                                </label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="CourseID" value="@Model.CourseID" />

                </div>
                <div class="modal-footer">
                    @if (UtilityService.HasPermission(Permissions.Add_Course_Fee))
                    {<button type="submit" class="btn btn-primary">Save Fee</button>}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {
        var futureDate = new Date();
        futureDate.setDate(futureDate.getDate() + 60);
        var previousDate = new Date();
        previousDate.setDate(previousDate.getDate() - 60);
        document.getElementById('StartDate').value = previousDate.toISOString().substring(0, 10);
        document.getElementById('EndDate').value = futureDate.toISOString().substring(0, 10);
    });

        $('#Amount').blur(function () {
            var tempVal = $('#Amount').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#AmountError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#AmountError").text("");
                $(":submit").removeAttr("disabled");
            }
        })
    })



    }
</script>