@model SmartDomain.Role
@using SmartHelper;
<section class="content-header">
    <h1>
        Roles
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.Name</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Roles/ViewRole">


            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
                <br />
            }
            <div class="container">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
            <div class="box-body">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="Description" value="@Model.Description">@Model.Description</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>
                    <div class="col-sm-2">

                        <label class="checkbox-inline">
                            <input type="checkbox" class="minimal" name="IsActive" value="true" checked="@Model.IsActive" />
                        </label>
                        <input type="hidden" name="IsActive" value="false" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Permissions</label>
                    <div class="col-sm-10">
                        <a asp-controller="Roles" asp-action="RolePermissions" asp-route-id="@Model.RoleID">@Model.RolePermissions?.Count()</a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">LastChanged By</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                    </div>
                </div>
                <input type="hidden" name="RoleID" value="@Model.RoleID" />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Roles" asp-action="Roles">Cancel</a>
                @if (UtilityService.HasPermission(Permissions.Update_Role))
                {@if (!Model.Name.Contains("Super"))
                    {
                        <button type="submit" class="btn btn-info pull-right">Update</button>
                    }
            }
                @if (UtilityService.HasPermission(Permissions.Delete_Role))
                {
                    @if (!Model.Name.Contains("Super"))
                    {
                        <a class="btn btn-danger" asp-controller="Roles" asp-action="Delete" asp-route-id="@Model.RoleID">Delete</a>
                    }}
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Additional Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#Permissions" data-toggle="tab">Permissions</a>
                        </li>
                        <li>
                            <a href="#Menu" data-toggle="tab">Menu</a>
                        </li>
                        <li>
                            <a href="#Users" data-toggle="tab">Users</a>
                        </li>


                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="Permissions">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Permissions: @Model.Name
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Last Changed Date</th>
                                                <th>Changed By</th>

                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.RolePermissions != null)
                                            {

                                                @foreach (var item in Model.RolePermissions)
                                                {

                                                    <tr>
                                                        @{
                                                            string dateCreated = UtilityService.ShowDateTime(item.LastChangedDate);

                                                        }

                                                        <td><a target="_blank" asp-controller="Roles" asp-action="ViewPermission" asp-route-id="@item.PermissionID">@item.Permission.Name</a></td>
                                                        <td>@dateCreated</td>
                                                        <td>@Html.DisplayFor(modelItem => item.LastChangedBy)</td>


                                                        <td> <a asp-controller="Roles" asp-action="RemovePermission" asp-route-id="@item.PermissionID" asp-route-roleID="@Model.RoleID">Remove</a></td>
                                                    </tr>
                                                }
                                            }
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                                @if (UtilityService.HasPermission(Permissions.Add_Permissions))
                                {
                                    <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#AddPermissions">Add Permission</a>
                                }
                            </div>
                        </div>


                        <div class="tab-pane fade in" id="Menu">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Menus: @Model.Name
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Display Name</th>
                                                <th>Order No</th>
                                                <th>Menu Group</th>
                                                @if (UtilityService.HasPermission(Permissions.Update_Role))
                                                {
                                                    <th>Action</th>
                                                }

                                                </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.RoleMenus)
                                            {

                                            <tr>

                                                @if (UtilityService.HasPermission(Permissions.View_Menu))
                                                {
                                                    <td><a asp-controller="Menus" asp-action="ViewMenu" asp-route-id="@item.MenuID">@item.Menu.DisplayName</a></td>
                                                }
                                                else
                                                {

                                                    <td>@Html.DisplayFor(modelItem => item.Menu.DisplayName)</td>
                                                }

                                                <td>@Html.DisplayFor(modelItem => item.Menu.OrderNo)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Menu.MenuGroup.DisplayName)</td>

                                                @if (UtilityService.HasPermission(Permissions.Remove_Menu_From_Role))
                                                {

                                                    <td><a asp-controller="Roles" asp-action="RemoveMenuFromRole" asp-route-roleID="@item.RoleID" asp-route-menuid="@item.MenuID">Remove Menu</a></td>
                                                }
                                            </tr>
                                            }
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                                @if (UtilityService.HasPermission(Permissions.Add_Menu_To_Role))
                                {
                                    <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#AddMenu">Add Menu</a>
                                }
                            </div>
                        </div>


                        <div class="tab-pane fade in" id="Users">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Users: @Model.Name
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="dataTable_wrapper">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.UserRoles != null)
                                            {

                                                @foreach (var item in Model.UserRoles)
                                                {

                                                    <tr>
                                                        @if (UtilityService.HasPermission(Permissions.View_User))
                                                        {
                                                            <td> <a asp-controller="User" asp-action="ViewUser" asp-route-id="@item.UserID">@item.User.UserFullName</a></td>

                                                        }
                                                        else

                                                        {
                                                            <td>@Html.DisplayFor(modelItem => item.User.UserFullName)</td>

                                                        }
                                                        @if (UtilityService.HasPermission(Permissions.Update_Role))
                                                        {

                                                            <td><a asp-controller="Roles" asp-action="RemoveUserFromRole" asp-route-roleID="@item.RoleID" asp-route-UserID="@item.UserID">Remove User</a></td>
                                                        }
                                                    </tr>
                                                }
                                            }
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                                <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#UserForm">Add User</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</section>
<div class="modal fade" id="AddPermissions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Roles" asp-action="AddPermission">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                                <tr>
                                    @{
                                        int cnt = 0;
                                        List<CheckBoxListItem> permissions = ViewBag.PermissionsList;

                                        foreach (var permission in permissions)
                                        {
                                            if (cnt++ % 3 == 0)
                                            {
                                            @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="selectedPermissions"
                                                       value="@permission.ID"
                                                       @(Html.Raw(permission.IsChecked ? "checked=\"checked\"" : "")) />
                                                @permission.Name
                                            @:</td>
                                        }
                                    @:</tr>
                                    }
                                </table>
                            </div>

                        </div>


                        <input type="hidden" name="RoleID" value="@Model.RoleID" />

                    </div>
                    <div class="modal-footer">
                        @if (UtilityService.HasPermission(Permissions.Add_Permissions))
                        {
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>


<div class="modal fade" id="AddMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Roles" asp-action="AddMenu">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                                <tr>
                                    @{
                                        int count = 0;
                                        List<CheckBoxListItem> menus = ViewBag.MenuList;

                                        foreach (var menu in menus)
                                        {
                                            if (count++ % 3 == 0)
                                            {
                                            @:</tr><tr>
                                            }
                                            @:<td>
                                                <input type="checkbox"
                                                       name="selectedMenus"
                                                       value="@menu.ID"
                                                       @(Html.Raw(menu.IsChecked ? "checked=\"checked\"" : "")) />
                                                @menu.Name
                                            @:</td>
                                        }
                                    @:</tr>
                                    }
                                </table>
                            </div>

                        </div>


                        <input type="hidden" name="RoleID" value="@Model.RoleID" />

                    </div>
                    <div class="modal-footer">
                        @if (UtilityService.HasPermission(Permissions.Add_Permissions))
                        {
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UserForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Model.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" asp-controller="Roles" asp-action="AddUserToRole">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Active Users Not In Role</label>
                            <select asp-for="UserID" class="form-control" asp-items="ViewBag.Users">
                                <option value="">----</option>
                            </select>

                        </div>

                        <input type="hidden" name="RoleID" value="@Model.RoleID" />

                    </div>
                    <div class="modal-footer">
                        @if (UtilityService.HasPermission(Permissions.Update_User))
                        {
                            <button type="submit" class="btn btn-primary">Add</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#myTab a[href="' + activeTab + '"]').tab('show');
            }
        });

    </script>
