@model IEnumerable<SmartDomain.DocumentType>
@using SmartHelper;
@{
    TempData["Title"] = "Document List";
}

<section class="content-header">
    <h1>
        @TempData["Title"]
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/CustomSettings/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@TempData["Title"]</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Document Types</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Format</th>
                                <th>Is Active</th>
                                <th>Last Changed By</th>
                                <th>Last Changed Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    @{ string activeStatus = UtilityService.ShowYesOrNo(item.IsActive);
                                        string dateCreated = UtilityService.ShowDateTime(item.LastChangedDate);
                                        string activateStatus = UtilityService.ShowActiveAction(@item.IsActive);

                                    }
                                    @if (UserAppData.HasPermission(Permissions.View_Document_Type))
                                    {
                                        <td><a asp-controller="DocumentType" asp-action="ViewDocumentType" asp-route-id="@item.DocumentTypeID">@item.Name</a> </td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.DocumentFormat.Name)</td>
                                    <td>@activeStatus</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastChangedBy)</td>
                                    <td>@dateCreated</td>
                                </tr>
                            }
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a class="btn btn-default" asp-controller="CustomSettings" asp-action="Dashboard">Cancel</a>
                    @if (UserAppData.HasPermission(Permissions.Add_Document_Type))
                    {
                        <a class="btn btn-success pull-right" asp-controller="DocumentType" asp-action="AddDocumentType">New</a><br />
                    }
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable();
    });

</script>
