@model SmartLoan.Models.DashBoardViewModel
@using SmartHelper;
@*https://codinginfinite.com/creating-interactive-dashboards-asp-net-core-mvc/*@
<section class="content-header">
    <h1>
        Dashboard
        <small>@UserAppData.ApplicationName</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    @if (UserAppData.HasPermission(Permissions.View_Dashboard_Notices))
    {
        @if (Model.Notices > 0)
        {
            <br />
            <br />
            <div class="alert success">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                You have
                <a asp-controller="NoticeBoard" target="_blank" asp-action="ActiveNotices" class="small-box-footer">@Model.Notices</a>
                new Notifications
            </div>
        }
    }
</section>
<!-- Main content -->
<!-- Small boxes (Stat box) -->
@if (UserAppData.HasPermission(Permissions.View_Dashboard_Notices))
{
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Model.NewLoans</h3>
                    <p>Loans</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-calculator"></i>
                </div>
                <a asp-controller="LoanManager" asp-action="Loans" asp-route-newLoansOnly="true" class="small-box-footer">View Loans <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Model.NewClientsCount<sup style="font-size: 20px"></sup></h3>
                    <p>New Clients</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a asp-controller="Client" asp-action="Clients" newClientsOnly="true" class="small-box-footer">View Clients <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Model.ProductPayments</h3>
                    <p>Payments</p>
                </div>
                <div class="icon">
                    <i class="ion  ion-cash"></i>
                </div>
                <a asp-controller="Transactions" asp-action="Transactions" class="small-box-footer">View Payments <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        @if (Model.ClientWithLoans>0 || Model.ClientWithLoans>0)
        {
            <section class="col-lg-7 connectedSortable">
                <!-- Custom tabs (Charts with tabs)-->
                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Client Activity</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <input type="hidden" id="ClientWithLoans" value="@Model.ClientWithLoans" />
                    <input type="hidden" id="ClientWithoutLoans" value="@Model.ClientWithoutLoans" />
                    <input type="hidden" id="NewClientsCount" value="@Model.NewClientsCount" />
                    <div class="box-body chart-responsive">
                        <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </section>
        }
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">
            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">To Do List</h3>
                    <div class="box-tools pull-right">
                        <ul class="pagination pagination-sm inline">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                    <ul class="todo-list">
                        @if (Model.UserToDoList != null)
                        {
                            @foreach (var todo in Model.UserToDoList)
                            {
                                <li>
                                    <!-- drag handle -->
                                    <span class="handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>
                                    <!-- checkbox -->
                                    @*<input type="checkbox" value="">*@
                                    <!-- todo text -->
                                    <span class="text">@todo.ToDo</span>
                                    <!-- Emphasis label -->
                                    <small class="label label-danger"><i class="fa fa-clock-o"></i> @UtilityService.ShowDate(todo.DueDate)</small>
                                    <!-- General tools such as edit or delete-->
                                    <div class="tools">
                                        <a class="fa fa-edit" asp-controller="User" target="_blank" asp-action="ViewUserToDo" asp-route-id="@todo.UserToDoID"></a>
                                        <a class="fa fa-trash-o" asp-controller="User" asp-action="DeleteToDo" asp-route-id="@todo.UserToDoID"></a>
                                    </div>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                    <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#ToDoForm"><i class="fa fa-plus"></i> Add item</button>
                </div>
            </div>
            <!-- /.box -->

        </section>
        <!-- right col -->

    </div>

}

<div class="modal fade" id="ToDoForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@UserAppData.UserFullName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="User" asp-action="AddToDo">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Comment:</label>
                        <input type="text" class="form-control" name="ToDo" />
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Due Date:</label>
                        <input type="date" class="form-control" name="DueDate" id="DueDate">
                    </div>
                    <input type="hidden" name="UserID" value="@UserAppData.UserID" />

                </div>
                <div class="modal-footer">
                    @if (UserAppData.HasPermission(Permissions.Add_To_Do))
                    {<button type="submit" class="btn btn-primary">Save</button>}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- Morris.js charts -->
<script src="~/bower_components/bower_components/morrisjs/morris.min.js"></script>
<script src="~/bower_components/bower_components/raphael/raphael-min.js"></script>
 <script type="text/javascript">
  $(function () {
    "use strict";
    //DONUT CHART
    var donut = new Morris.Donut({
      element: 'sales-chart',
      resize: true,
      colors: ["#3c8dbc", "#f56954", "#00a65a"],
      data: [

        {label: "New Clients", value: @Model.NewClientsCount},
        { label: "Clients Without Loans", value: @Model.ClientWithoutLoans},
        { label: "Clients With Loans", value: @Model.ClientWithLoans}

      ],
      hideHover: 'auto'
    });
  });
</script>
