@model SmartDomain.Product
@using SmartHelper;
<section class="content-header">
    <h1>
        Product
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.Name</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Product/ViewProduct">

            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
                <br />
            }
            <div class="container">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Company</label>
                <div class="col-sm-10">
                    <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyList">
                        <option value="">----</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Name" value="@Model.Name">
                </div>
            </div>
           
         
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryList">
                        <option value="">----</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>
                <div class="col-sm-2">

                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(model => model.IsActive)
                    </label>

                </div>
            </div>
                        <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Changed By</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                </div>
            </div>
            <input type="hidden" name="ProductID" value="@Model.ProductID" />
        </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Product" asp-action="Product">Cancel</a>
                @if (UserAppData.HasPermission(Permissions.Update_Product))
                {
                    <button type="submit" class="btn btn-info">Update</button>
                }
                @if (UserAppData.HasPermission(Permissions.Delete_Product))
                {
                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.ProductID">Delete</a>
                }
            </div>
            <!-- /.box-footer -->
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Additional Information
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->

                        <ul class="nav nav-tabs" id="myTab">
                            @if (UserAppData.HasPermission(Permissions.View_Product_Fee))
                            {
                                <li class="active">
                                    <a href="#Fees" data-toggle="tab">Fees</a>
                                </li>
                            }
                            @if (UserAppData.HasPermission(Permissions.View_Product_Assert))
                            {
                                <li>
                                    <a href="#Asserts" data-toggle="tab">Assert Class</a>
                                </li>
                            }
                           
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade in active " id="Fees">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Fees
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Fee Name</th>
                                                    <th>Amount</th>
                                                    <th>Payment Terms</th>
                                                    <th>Is Active</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.ProductFees != null)
                                                {

                                                    foreach (var item in Model.ProductFees)
                                                    {
                                                <tr>
                                                    @{
                                                        string activeStatus = UtilityService.ShowYesOrNo(item.IsActive);
                                                    }
                                                    
                                                    @if (UserAppData.HasPermission(Permissions.View_Product_Fee))
                                                    {
                                                        <td><a asp-controller="Product" asp-action="ViewProductFee" asp-route-id="@item.ProductFeeID">@item.Name</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                    }

                                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Frequency.Name)</td>
                                                    <td>@activeStatus</td>

                                                </tr>
                                                    }
                                                }
                                        </table>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    @if (UserAppData.HasPermission(Permissions.Add_Product_Fee))
                                    {
                                        <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#FeeForm">Add Fee</a>
                                    }
                                </div>
                            </div>

                           

                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                </div>
            </div>
        </div>

</section>

<div class="modal fade" id="FeeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Product" asp-action="AddProductFee">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                        <input type="text" class="form-control" name="Name">
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                        <textarea class="form-control" name="Description" rows="5"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>

                        <input type="text" class="form-control" id="Amount" name="CostAmount">
                        <span id="AmountError" class="text-danger text-bold"></span>

                    </div>
                    
                    <div class="form-group">
                        <div>
                            <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>

                            <div class="checkbox">
                                <label class="checkbox-inline">
                                    <input type="checkbox" data-val="true" id="IsActive"
                                           name="IsActive" value="true">
                                </label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="ProductID" value="@Model.ProductID" />

                </div>
                <div class="modal-footer">
                    @if (UserAppData.HasPermission(Permissions.Add_Product_Fee))
                    {<button type="submit" class="btn btn-primary">Save Fee</button>}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>


    $(document).ready(function () {

    });


    $(function () {
        $('#DeductionPercentage').blur(function () {
            var tempVal = $('#DeductionPercentage').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#DeductionPercentageError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#DeductionPercentageError").text("");
                $(":submit").removeAttr("disabled");
            }
        })

        $('#IncreamentPercentage').blur(function () {
            var tempVal = $('#IncreamentPercentage').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#IncreamentPercentageError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#IncreamentPercentageError").text("");
                $(":submit").removeAttr("disabled");
            }
        })
        $('#TransactionalLevy').blur(function () {
            var tempVal = $('#TransactionalLevy').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#TransactionalLevyError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#TransactionalLevyError").text("");
                $(":submit").removeAttr("disabled");
            }
        })

        $('#Amount').blur(function () {
            var tempVal = $('#Amount').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#AmountError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#AmountError").text("");
                $(":submit").removeAttr("disabled");
            }
        })
    })


</script>