@model SmartDomain.BankAccount
@using SmartHelper;
<section class="content-header">
    <h1>
        Bank Accounts
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.AccountName</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/BankAccounts/ViewBankAccount">

            @if (TempData["Error"] != null)
        {<div class="container">
                <div class="text-danger">@TempData["Error"].ToString()</div>
            </div>
        }

            @if (TempData["Success"] != null)
        {<div class="container">
                <div class="text-success">@TempData["Success"].ToString()</div>
            </div>
        }
            @if (TempData["Warning"] != null)
        {<div class="container">
                <div class="text-warning">@TempData["Warning"].ToString()</div>
            </div>
        }
            <div class="box-body">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AccountName" value="@Model.AccountName">

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Account Code</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AccountCode" value="@Model.AccountCode">

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Account Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AccountNumber" value="@Model.AccountNumber">
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="BankAccountTypeID" class="col-sm-2 control-label">Account Type</label>

                    <div class="col-sm-10">
                        <select asp-for="BankAccountTypeID" class="form-control" asp-items="ViewBag.AccountTypeList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CurrencyID" class="col-sm-2 control-label">Currency</label>

                    <div class="col-sm-10">
                        <select asp-for="CurrencyID" class="form-control" asp-items="ViewBag.CurrencyList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>
                    <div class="col-sm-2">
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(model => model.IsActive)
                        </label>

                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">LastChanged By</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                    </div>
                </div>
                <input type="hidden" name="BankAccountID" value="@Model.BankAccountID" />

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="BankAccounts" asp-action="BankAccounts">Cancel</a>
                @if (UtilityService.HasPermission(Permissions.Update_Bank_Account))
            {<button type="submit" class="btn btn-info">Update</button>
            }
                @if (UtilityService.HasPermission(Permissions.Delete_Bank_Account))
            {<a class="btn btn-danger" asp-controller="BankAccounts" asp-action="Delete" asp-route-id="@Model.BankAccountID">Delete</a>
            }
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>