@model SmartDomain.Department
@using SmartHelper;
<section class="content-header">
    <h1>
        Department
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.Name</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Department/ViewDepartment">

            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
            }

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" value="@Model.Name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Active Status</label>
                    <div class="col-sm-2">
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(model => model.IsActive)
                        </label>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Users</label>
                    <div class="col-sm-10">
                        <a asp-controller="Department" asp-action="ViewDepartmentUsers" asp-route-id="@Model.DepartmentID">@Model.Clients?.Count()</a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">LastChanged By</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                    </div>
                </div>
                <input type="hidden" name="DepartmentID" value="@Model.DepartmentID" />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Home" asp-action="Dashboard">Cancel</a>
                @if (UtilityService.HasPermission(Permissions.Update_Department))
                {
                    <button type="submit" class="btn btn-info ">Update</button>
                }
                @if (UtilityService.HasPermission(Permissions.Delete_Department))
                {
                    <a class="btn btn-danger" asp-controller="Department" asp-action="Delete" asp-route-id="@Model.DepartmentID">Delete</a>
                }
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>