@model SmartDomain.Product
@using SmartHelper;
<section class="content-header">
    <h1>
        Product
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.Name</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Product/ViewProduct">

            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
            }

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Company</label>
                    <div class="col-sm-10">
                        <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Name" value="@Model.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Frequency</label>
                    <div class="col-sm-10">
                        <select asp-for="ProductFrequencyID" class="form-control" asp-items="ViewBag.FrequencyList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Active Status</label>
                    <div class="col-sm-2">

                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(model => model.IsActive)
                        </label>

                    </div>
                </div>



                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Employees Linked To Product</label>
                    <div class="col-sm-10">
                        @if (UtilityService.HasPermission(Permissions.View_User))
                        {
                            <a asp-controller="Product" asp-action="ClientsLinkedToProduct" asp-route-id="@Model.ProductID">@Model.ClientCount</a>
                        }
                        else
                        {
                            @Model.ClientCount
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Changed By</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                    <div class="col-sm-10">
                        <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                    </div>
                </div>
                <input type="hidden" name="ProductID" value="@Model.ProductID" />
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Product" asp-action="Product">Cancel</a>
                @if (UtilityService.HasPermission(Permissions.Update_Product))
                {
                    <button type="submit" class="btn btn-info">Update</button>
                }
                @if (UtilityService.HasPermission(Permissions.Delete_Product))
                {
                    <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@Model.ProductID">Delete</a>
                }
            </div>
            <!-- /.box-footer -->
        </form>
       
          </section>