@model SmartDomain.Transaction
@using SmartHelper;
<section class="content-header">
    <h1>
        @Model.TransRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">

            <h3 class="box-title">@Model.TransactionType.Name</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="ViewTransaction">
            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
                <br />
            }
            <div class="container">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
        <div class="box-body">

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Transaction Ref</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TransRef" disabled="disabled" value="@Model.TransRef">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Product</label>
                <div class="col-sm-10">
                    <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductList" disabled>
                        <option value="">----</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Assert Class</label>
                <div class="col-sm-10">

                    <select asp-for="AssertID" class="form-control" asp-items="ViewBag.AssertList" disabled>
                        <option value="">----</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Assert Category</label>
                <div class="col-sm-10">
                    <select asp-for="AssertCategoryID" class="form-control" asp-items="ViewBag.AssertCategoryList" disabled>
                        <option value="">----</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Bank Account</label>
                <div class="col-sm-10">
                    <select asp-for="BankAccountID" class="form-control" asp-items="ViewBag.BankAccountList" disabled>
                        <option value="">----</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Transaction Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TransactionDate" disabled="disabled" value="@UtilityService.ShowDateTime(@Model.TransactionDate)">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Narration:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Narration" value="@Model.Narration" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Payment Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="PaymentDate" disabled="disabled" value="@UtilityService.ShowDateTime(Model.PaymentDate)">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Client Details</label>
                <div class="col-sm-10">
                    @if (UtilityService.HasPermission(Permissions.View_Client))
                    {<a asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientID">@Model.Client.ClientRef</a>
                }
                else
                {
                    <input type="text" class="form-control" disabled="disabled" value="@Model.Client.ClientRef">
                }
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Transaction Type</label>
                <div class="col-sm-10">

                    <input type="text" class="form-control" name="TransactionTypeID" disabled="disabled" value="@Model.TransactionType.Name">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Payment Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" disabled="disabled" value="@Model.Entity">
                </div>
            </div>
            <div class="form-group">

                <label for="inputEmail3" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Price" disabled="disabled" value="@Model.Price">
                </div>
            </div>

            <div class="form-group">

                <label for="inputEmail3" class="col-sm-2 control-label">Units</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Price" disabled="disabled" value="@Model.Units">
                </div>
            </div>
            @if (SmartHelper.UtilityService.ApplicationIsVATCompliant)
            {
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Amount Excl VAT</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AmountExclVAT" disabled="disabled" value="@Model.AmountExclVAT">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">VAT</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="VAT" disabled="disabled" value="@Model.VAT">
                    </div>
                </div>
            }
            <div class="form-group">
                @{
                    var displayLabel = SmartHelper.UtilityService.ApplicationIsVATCompliant ? "Amount Incl VAT" : "Amount";
                }
                <label for="inputEmail3" class="col-sm-2 control-label">@displayLabel</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Amount" disabled="disabled" value="@Model.Amount">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Total Paid</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="TotalPaid" disabled="disabled" value="@Model.TotalPaid">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Payment Status</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Payment" disabled="disabled" value="@Model.PaymentStatus.Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Changed By</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                </div>
            </div>
            <input type="hidden" name="TransactionID" value="@Model.TransactionID" />

        </div>
            <!-- /.box-body -->
            <div class="box-footer">

                @{

                    if (UtilityService.HasPermission(Permissions.Reverse_Payment))
                    {
                        if (Model.PaymentStatusID != (int)PaymentState.Reversed)
                        {
                            <a class="btn btn-danger" asp-controller="Transactions" asp-action="ActionTransaction" asp-route-id="@Model.TransactionID" asp-route-transactionTypeID="@Model.TransactionTypeID">Reverse Transaction</a>
                        }
                    }

                }

                <a class="btn btn-primary" asp-controller="Transactions" asp-action="PrintTransaction" asp-route-id="@Model.TransactionID">Generate PDF</a>
                <a class="btn btn-default" asp-controller="Transactions" asp-action="Transactions">Cancel</a>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>

