@model SmartDomain.Loan
@using SmartHelper;
<section class="content-header">
    <h1>
        @Model.LoanRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">@Model.LoanRef</h3>
        </div>

        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/LoanManager/ViewLoan">

            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
                <br />
            }
            <div class="container">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>

            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
            <div class="box-body">
                <section>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Loan Reference</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="form-control label-default">@Model.LoanRef</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Applicant</label>
                        <div class="col-sm-10">
                            @if (UserAppData.HasPermission(Permissions.View_Client))
                            {
                                <a asp-controller="Client" target="_blank" asp-action="ViewClient" asp-route-id="@Model.ClientID">@Model.Client.ClientRef</a>
                            }
                            else
                            {
                                @Model.Client.ClientRef
                            }

                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Is Active</label>
                        <div class="col-sm-2">
                            <label class="checkbox-inline">
                                @Html.CheckBoxFor(model => model.IsActive)
                            </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="form-control label-default">@Model.LoanStatus?.Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Created By</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="form-control label-default">@Model.CreatedBy</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Date Registered</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.RegistrationDate)</label>
                        </div>
                    </div>

                    @if (Model.LoanStatusID == (int)LoanState.Rejected || Model.LoanStatusID == (int)LoanState.Active)
                    {
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Finalised By</label>
                            <div class="col-sm-10">
                                <label for="inputEmail3" class="form-control label-default">@Model.FinalisedBy</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Date Finalised</label>
                            <div class="col-sm-10">
                                <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.DateFinalised)</label>

                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">LastChanged By</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                        <div class="col-sm-10">
                            <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>

                        </div>
                    </div>
                    <input type="hidden" id="LoanID" name="LoanID" value="@Model.LoanID" />
                    <input type="hidden" id="ClientID" name="ClientID" value="@Model.ClientID" />
                    <input type="hidden" id="LoanRef" name="LoanRef" value="@Model.LoanRef" />

                </section>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                @if (UserAppData.HasPermission(Permissions.Update_Loan))
                {
                    var name = @Model.IsActive ? "Deactivate" : "Activate";
                    <a class="btn btn-info" asp-controller="LoanManager" asp-action="ActiveStatus" asp-route-id="@Model.LoanID">@name</a>
                }
                @if (UserAppData.HasPermission(Permissions.Delete_Loan))
                {
                    <a class="btn btn-danger" asp-controller="LoanManager" asp-action="Delete" asp-route-id="@Model.LoanID">Delete</a>
                }
            </div>
            <!-- /.box-footer -->
        </form>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Financial Information
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->

                    <ul class="nav nav-tabs">

                        <li class="active">
                            <a href="#Finance" data-toggle="tab">Information</a>
                        </li>
                        @if (Model.LoanSchedules != null && Model.LoanSchedules.Count() > 0)
                        {
                            <li>
                                <a href="#Schedule" data-toggle="tab">Re-Payment Information</a>
                            </li>
                        }
                        @if (UserAppData.HasPermission(Permissions.Generate_Loan_Statement))
                                             {
                            <li>
                                <a href="#Statements" data-toggle="tab">Statements</a>
                            </li>
                        }
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div class="tab-pane fade in active " id="Finance">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Information
                                </div>
                            </div>
                            <form class="form-horizontal" method="post" action="/LoanManager/Approve">
                                <!-- /.panel-heading -->
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Product</label>
                                        <div class="col-sm-10">
                                            <select asp-for="@Model.LoanFinance.ProductID" class="form-control" asp-items="ViewBag.ProductList" disabled>
                                                <option value="">----</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Application Fee</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="ApplicationFee" name="ApplicationFee" value="@Model.LoanFinance.ApplicationFee" disabled>
                                            <span id="ApplicationFeeError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Principal</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Principal" name="Principal" value="@Model.LoanFinance.Principal" disabled>
                                            <span id="PrincipalError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Effective Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="StartDate" name="StartDate" value="@UtilityService.ShowDateTime(Model.LoanFinance.StartDate)" disabled />
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Tenor (Months)</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Duration" name="Duration" value="@Model.LoanFinance.Duration" disabled>
                                            <span id="DurationError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Effective Deposit</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="EffectiveDeposit" name="EffectiveDeposit" value="@Model.LoanFinance.EffectiveDeposit" disabled>
                                            <span id="EffectiveDepositError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            Loan Calculations
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Application Fee</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CalcAppFee" name="CalcAppFee" value="@Model.LoanFinance.ApplicationFee" disabled>
                                            <span id="CalcAppFeeError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Collection Fee</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CollectionFee" name="CollectionFee" value="@Model.LoanFinance.CollectionFee" disabled>
                                            <span id="CollectionFeeError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Total Upfront Fees</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Upfront" name="Upfront" value="@Model.LoanFinance.MinimumUpfront" disabled>
                                            <span id="UpfrontError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">UpFront Deposit </label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="MinimumUpfront" name="MinimumUpfront" value="@Model.LoanFinance.MinimumUpfront" disabled>
                                            <span id="MinimumUpfrontError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Fees Required</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="FeesReq" name="FeesReq" value="@Model.LoanFinance.FeesReq" disabled>
                                            <span id="FeesReqError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Interest</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Interest" name="Interest" value="@Model.LoanFinance.Interest" disabled>
                                            <span id="InterestError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Fx Fixing</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="FxFixing" name="FxFixing" value="@Model.LoanFinance.FxFixing" disabled>
                                            <span id="FxFixingError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Maturity Date</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="MaturityDate" name="MaturityDate" value="@UtilityService.ShowDateTime(Model.LoanFinance.MaturityDate)" disabled>
                                            
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Maturity Value</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="MaturityValue" name="MaturityValue" value="@Model.LoanFinance.MaturityValue" disabled>
                                            <span id="MaturityValueError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Remittance</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Installment" name="Installment" value="@Model.LoanFinance.Installment" disabled>
                                            <span id="InstallmentError" class="text-danger text-bold"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                </div>
                                <input type="hidden" id="LoanID" name="LoanID" value="@Model.LoanID" />
                                <input type="hidden" id="ClientID" name="ClientID" value="@Model.ClientID" />
                                <input type="hidden" id="LoanRef" name="LoanRef" value="@Model.LoanRef" />
                                <div class="box-footer">

                                    @if (UserAppData.HasPermission(Permissions.Finalise_Loan))
                                    {
                                    <a class="btn btn-default pull-right" asp-controller="LoanManager" asp-action="Finalise" asp-route-id="@Model.LoanID">&nbsp;&nbsp;Finalise&nbsp;&nbsp;</a>
                                        <a class="btn btn-danger pull-right" data-toggle="modal" data-target="#RejectForm">&nbsp;&nbsp;Reject&nbsp;&nbsp;</a>
                                        <a class="btn btn-success pull-right" asp-controller="LoanManager" asp-action="ReCapture" asp-route-id="@Model.LoanID">&nbsp;&nbsp;Re-Capture&nbsp;&nbsp;</a>
                                    }
                                </div>

                            </form>
                            <!-- /.panel-body -->
                        </div>
                        @if (Model.LoanSchedules != null && Model.LoanSchedules.Count > 0)
                        {
                            <div class="tab-pane fade" id="Schedule">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Information
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Payment No.</th>
                                                    <th>Due Date</th>
                                                    <th>Generate Invoice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.LoanSchedules != null)
                                                {

                                                    foreach (var item in Model.LoanSchedules)
                                                    {
                                                        <tr>

                                                            <td>@Html.DisplayFor(modelItem => item.LedgerNo)</td>
                                                            <td>@item.DueDate</td>
                                                            <td>Download Invoice</td>
                                                        </tr>
                                                    }
                                                }
                                        </table>
                                    </div>
                                </div>

                                <div class="box-footer">
                                </div>
                            </div>
                        }
                        <div class="tab-pane fade" id="Statements">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Statements
                                </div>
                            </div>
                            <form class="form-horizontal" method="post" action="/LoanManager/Approve">
                                <!-- /.panel-heading -->
                                <div class="panel-body">

                                    <form method="post" asp-controller="LoanManager" asp-action="GenerateStatement">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Statement Type:</label>
                                            <select id="ddlStatements" asp-for="StatementID" class="form-control" asp-items="ViewBag.ClientStatement" onchange="showProduct(this.value)">
                                            </select>

                                        </div>
                                       

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Transaction Date From</label>
                                                <input type="te" class="form-control" name="StartDate" ID="StartDate" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Transaction Date To</label>
                                                <input type="date" class="form-control" name="EndDate" ID="EndDate" required>
                                            </div>

                                        </div>
                                        @if (UserAppData.HasPermission(Permissions.Print_Statement_With_No_Reversals))
                                        {
                                            <div class="form-group" id="PrintReversalSection">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Print Reversals</label>
                                                <div class="checkbox">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" data-val="true" id="PrintReversalsOnStatement"
                                                               name="PrintReversalsOnStatement" value="true">
                                                    </label>
                                                </div>
                                            </div>
                                        }

                                        @if (UserAppData.HasPermission(Permissions.Generate_Loan_Statement))
                                        {
                                            <br />
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-2 control-label">Email Statement</label>
                                                <div class="checkbox">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" data-val="true" id="EmailStatement"
                                                               name="EmailStatement" value="true">
                                                    </label>
                                                </div>
                                            </div>

                                        }
                                        <input type="hidden" name="LoanID" value="@Model.LoanID" />
                                        <div class="box-footer">
                                            @if (UserAppData.HasPermission(Permissions.Generate_Loan_Statement))
                                            {
                                                <button type="submit" class="btn  btn-small btn-success">Generate Statement</button>
                                            }
                                            <a class="btn btn-default pull-right" asp-controller="LoanManager" asp-action="ViewLoan" asp-route-id="@Model.LoanID">Cancel</a>
                                        </div>
                                    </form>
                            <!-- /.panel-body -->
                        </div>
                            </form>
                        <!-- /.panel -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
<div class="modal fade" id="RejectForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.LoanRef</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="LoanManager" asp-action="AddLoanNote">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Comment:</label>
                        <textarea class="form-control" name="Comment" rows="5"></textarea>
                    </div>


                    @if (UserAppData.CurrentUserTypeID != (int)TypeOfUser.Employee)
                    {
                        <div class="form-group">
                            <div>
                                <label for="inputEmail3" class="col-sm-2 control-label">Visible To Admin Only:</label>

                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" data-val="true" id="VisibleToAdminOnly"
                                               name="VisibleToAdminOnly" value="true">
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                    <input type="hidden" name="LoanID" value="@Model.LoanID" />

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Reject</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
<link href="~/dist/css/anchor.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/table-to-json@1.0.0/lib/jquery.tabletojson.min.js" integrity="sha256-H8xrCe0tZFi/C2CgxkmiGksqVaxhW0PFcUKZJZo1yNU=" crossorigin="anonymous"></script>

