@using SmartHelper;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@UtilityService.ApplicationName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <section class="content-header">
        @if (TempData["Error"] != null)
        {<div class="container">
                <div class="text-danger" style="text-align:center">@TempData["Error"].ToString()</div>
            </div>
        }
        <div class="container">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        @if (TempData["Success"] != null)
        {<div class="container">
                <div class="text-success" style="text-align:center">@TempData["Success"].ToString()</div>
            </div>
        }
        @if (TempData["Warning"] != null)
        {<div class="container">
                <div class="text-warning" style="text-align:center">@TempData["Warning"].ToString()</div>
            </div>
        }

    </section>
    <div class="login-logo">
        <a href="#">@UtilityService.ApplicationName</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <p>&nbsp;</p>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Login </h3>
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal" method="post" action="Login">
                            <div class="login-box-body">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="EmailAddress" placeholder="Email" required autofocus>

                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="Password" type="password">

                                    </div>

                                    <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                                    <br />

                                    <div class="form-group">
                                        <p>
                                            <a asp-controller="Login" asp-action="ForgotPassword">Forgot Password?</a>
                                        </p>
                                        <p>
                                            <a asp-controller="Login" asp-action="RegisterAccount">Register New Client Account</a>
                                        </p>
                                        <p class="text-light-blue">
                                            Contact Support:<a href="@UtilityService.WhatappSendMessageLink" style="text-decoration: none;" target="_blank"><img src="~/dist/img/Whatsapp.png" class="user-image" alt="Link to Send Message on Whatsapp" width="20" height="20" /></a>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
