@using SmartHelper;
@{
    TempData["Title"] = "User Details Not Found";
}
<div id="layoutError_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center mt-4">
                        <h1 class="display-1 text-danger text-bold">Oops</h1>
                        <p class="lead">
                            User credentials could not be found<br />
                            For any enquiry, please email <b>@UtilityService.CustomerServiceEmail</b> , or call<br />or <a href="@UtilityService.WhatappSendMessageLink" style="text-decoration: none;" target="_blank"><img src="~/dist/img/Whatsapp.png" class="user-image" alt="Link to Send Message on Whatsapp" width="25" height="25" /></a> @UtilityService.ApplicationName customer service  at <b>@UtilityService.CustomerServiceNumber</b>.<br /><br /> Regards,<br /><b>@UtilityService.ApplicationName Team</b>.
                        </p>
                        <a class="btn btn-danger" asp-controller="Login" asp-action="Login">
                            Please Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
