@model SmartDomain.MenuGroup
@using SmartHelper;
<section class="content-header">
    <h1>
        Menus
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">@Model.DisplayName</h3>
            <a class="btn btn-info pull-right" asp-controller="Menus" asp-action="AddMenu">Add Child Menu</a>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" method="post" action="/Menus/ViewMenuGroup">
            @if (TempData["Error"] != null)
            {<div class="container">
                    <strong class="">@TempData["Error"].ToString()</strong>
                    <div class="panel panel-danger">
                        <div class="panel-body">@Html.ValidationSummary()</div>
                    </div>
                </div>
            }
        <div class="box-body">

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="DisplayName" value="@Model.DisplayName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">BaseController</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ControllerName" value="@Model.ControllerName">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Action</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="ActionName" value="@Model.ActionName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Order No</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="OrderNo" value="@Model.OrderNo">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Style</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="CSSClass" value="@Model.CSSClass">
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Menu Active Tab</label>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" class="minimal" name="IsActiveMenu" value="true" checked="@Model.IsActiveMenu" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-10 checkbox">
                    <div class="form-group">

                        <div class="checkbox">
                            <label>
                                <input asp-for="IsActive" />
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Icon</label>
                <div class="col-sm-10">
                    <i class="@Model.CSSClass" style="font-size:36px"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Children</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Children" disabled value="@Model.Menus?.Count()">

                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">LastChanged By</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                </div>
            </div>
            <input type="hidden" name="MenuGroupID" value="@Model.MenuGroupID" />
        </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Menus" asp-action="MainMenu">Cancel</a>
                @if (UserAppData.HasPermission(Permissions.Update_Menu))
                {
                    <button type="submit" class="btn btn-info pull-right">Update</button>
                }

            </div>
            <!-- /.box-footer -->
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Additional Information
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->

                        <ul class="nav nav-tabs" id="myTab">
                            @if (UserAppData.HasPermission(Permissions.View_Menu))
                            {
                                <li class="active">
                                    <a href="#ChildMenu" data-toggle="tab">Child Menus</a>
                                </li>
                            }
                           
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane fade in active " id="ChildMenu">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Sub Menus
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="dataTable_wrapper">
                                        <table id="example1" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Display Name</th>
                                                    <th>Path Name</th>
                                                    <th>Style</th>
                                                    <th>Order No</th>
                                                    <th>Last Changed Date</th>
                                                    <th>Changed By</th>
                                                    <th>Is Active</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Menus)
                                                {

                                                    <tr>
                                                        @{ string activeStatus = UtilityService.ShowYesOrNo(item.IsActive);
                                                            string dateCreated = UtilityService.ShowDateTime(item.LastChangedDate);

                                                        }


                                                        @if (UserAppData.HasPermission(Permissions.View_Menu))
                                                        {
                                                            <td><a asp-controller="Menus" asp-action="ViewMenu" asp-route-id="@item.MenuID">@item.DisplayName</a></td>
                                                        }
                                                        else
                                                        {

                                                            <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                                                        }
                                                        <td>@Html.DisplayFor(modelItem => item.PathName)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.CSSClass)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.OrderNo)</td>
                                                        <td>@dateCreated</td>
                                                        <td>@Html.DisplayFor(modelItem => item.LastChangedBy)</td>

                                                        <td>@activeStatus</td>
                                                    </tr>
                                                }
                                        </table>

                                    </div>
                                </div>

                                <div class="box-footer">
                                    @if (UserAppData.HasPermission(Permissions.Add_Menu))
                                    {
                                        <a asp-controller="Menus" asp-action="AddMenu" class="btn btn-info pull-right">New Menu</a><br />
                                    }
                                </div>
                            </div>

                        </div>
                        <!-- /.panel -->
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.box -->
</section>