@using SmartSave;
@using SmartHelper;
@using Microsoft.AspNetCore.Http
@{var client = TempData["Client"]; }
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">@UtilityService.ApplicationName</li>
    <li class="nav-item">
    <a asp-controller="Home" asp-action="Dashboard">
        <i class="fa fa-umbrella nav-icon" aria-hidden="true"></i>
        Dashboard</a>
    </li>
  
    @{
        int clientID = 0;
        try
        {
            clientID = Convert.ToInt32(Context.Session.GetString("ClientID"));
        }
        catch (Exception)
        {

            throw;
        }
    }
    @foreach (var menu in Model)
    {
        <li class="nav-item">
            <a asp-controller="@menu.ControllerName" asp-action="@menu.ActionName" asp-route-id="@clientID">
                <i class="@UtilityService.HtmlEncode(menu.CSSClass) nav-icon" aria-hidden="true"></i>
                @menu.DisplayName
            </a>
        </li>
    }

</ul>


