@model SmartInterfaces.ClientForm;
@using SmartHelper;
@using SmartExtensions;
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">@Model.ClientFullName</h3>
    </div>
    <form class="form-horizontal" method="post" action="ViewClient">
        <!-- /.box-header -->
        <div class="box-body">
            @if (TempData["Error"] != null)
            {<div class="container">
                    <div class="text-danger">@TempData["Error"].ToString()</div>
                </div>
                <br />
            }
            <div class="container">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            @if (TempData["Success"] != null)
            {<div class="container">
                    <div class="text-success">@TempData["Success"].ToString()</div>
                </div>
            }
            @if (TempData["Warning"] != null)
            {<div class="container">
                    <div class="text-warning">@TempData["Warning"].ToString()</div>
                </div>
            }
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Affiliation</label>

                <div class="col-sm-10">
                    <select id="ClientGroupID" asp-for="ClientGroupID" class="form-control" asp-items="ViewBag.AffiliationList" onchange="GetCompanyList(this.value)">
                    </select>
                    <span id="AffiliationListNotFound" class="text-danger text-bold"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Company</label>
                <div class="col-sm-10">

                    <select asp-for="CompanyID" id="CompanyList" name="CompanyID" class="form-control">
                    </select>
                    <span id="CompanyListNotFound" class="text-danger text-bold"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ClientAccountTypeID" class="col-sm-2 control-label">Account Type</label>

                <div class="col-sm-10">
                    <select asp-for="ClientAccountTypeID" class="form-control" asp-items="ViewBag.AccountTypes" onchange="showCoApplicantForm(this.value)">
                        <option value="">----</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Employee Number</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@Model.AccountNumber</label>
                </div>
            </div>
            <section>
                <h5 class="box-title text-bold text-success">Applicant Information</h5>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        <select asp-for="TitleID" class="form-control" asp-items="ViewBag.TitleList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Initials</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Initials" placeholder="Initials" value="@Model.Initials">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="LastName" placeholder="Last Name" value="@Model.LastName">

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="FirstName" placeholder="First Name" value="@Model.FirstName">
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="LastName" placeholder="Last Name" value="@Model.LastName">

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">National ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="IDNumber" placeholder="National ID" value="@Model.IDNumber">

                    </div>
                </div>


                <div class="form-group">
                    <label asp-for="DateOfBirth" class="col-sm-2 control-label">Date Of Birth</label>
                    <div class="col-sm-10">
                        <input asp-for="DateOfBirth" type="date" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Gender</label>

                    <div class="col-sm-10">
                        <select asp-for="@Model.GenderID" class="form-control"
                                asp-items="ViewBag.GenderList">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="EmailAddress" value="@Model.EmailAddress">
                    </div>

                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address Line 1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AddressLine1" value="@Model.AddressLine1">

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Address Line 2</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="AddressLine2" value="@Model.AddressLine2">

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="City" value="@Model.City">

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                        <select asp-for="CountryID" class="form-control" asp-items="ViewBag.CountryList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mobile Number</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="MobileNumber" value="@Model.MobileNumber">

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10 checkbox">
                        <div class="form-group">

                            <div class="checkbox">
                                <label>
                                    <input asp-for="IsActive" />
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentID" class="col-sm-2 control-label">Department</label>

                    <div class="col-sm-10">
                        <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentList">
                            <option value="">----</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Occupation</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="Occupation" value="@Model.Occupation">

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Salary</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Salary" name="SalaryAmount" value="@Model.Salary">
                        <span id="SalaryError" class="text-danger text-bold"></span>
                        <span><a asp-controller="Client" asp-action="SalaryHistory" asp-route-id="@Model.ClientID">History</a></span>
                    </div>
                </div>
            </section>
            @if (Model.IsJointAccount && Model.JointApplicant.IsNotNull())
            {
                <section id="CoApplicantInfo">
                    <h5 class="box-title text-warning text-bold">Co-Applicant Information</h5>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Relation</label>
                        <div class="col-sm-10">
                            <select asp-for="JointApplicant.RelationshipTypeID" class="form-control" asp-items="ViewBag.RelationTypes">
                                <option value="">----</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <select asp-for="JointApplicant.ApplicantTitleID" class="form-control" asp-items="ViewBag.TitleList">
                                <option value="">----</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Initials</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.Initials" value="@Model.JointApplicant.Initials">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.FirstName" value="@Model.JointApplicant.FirstName">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.LastName" value="@Model.JointApplicant.LastName" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">ID Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.IDNumber" value="@Model.JointApplicant.IDNumber" required>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Date Of Birth</label>

                        <div class="col-sm-10">
                            <input asp-for="@Model.JointApplicant.DateOfBirth" type="date" class="form-control" />
                            <span asp-validation-for="JointApplicant.DateOfBirth" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Gender</label>
                        <div class="col-sm-10">
                            <select asp-for="JointApplicant.ApplicantGenderID" class="form-control" asp-items="ViewBag.GenderList">
                                <option value="">----</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" asp-for="JointApplicant.EmailAddress" value="@Model.JointApplicant.EmailAddress" required>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Address Line 1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.AddressLine1" value="@Model.JointApplicant.AddressLine1">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Address Line 2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.AddressLine2" value="@Model.JointApplicant.AddressLine2">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.City" value="@Model.JointApplicant.City">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-10">
                            <select asp-for="JointApplicant.CountryID" class="form-control" asp-items="ViewBag.CountryList">
                                <option value="">----</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Mobile Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="JointApplicant.MobileNumber" value="@Model.JointApplicant.MobileNumber">

                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.JointApplicant.JointApplicantID" value="@Model.JointApplicant.JointApplicantID" />
                </section>
            }
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Registration Date</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.RegistrationDate)</label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Changed By</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                <div class="col-sm-10">
                    <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                </div>
            </div>
            <input type="hidden" name="ClientID" value="@Model.ClientID" />
        </div>

        <!-- /.box-body -->
        @if (Model.ShowClientButtons)
        {
            <div class="box-footer">
                <a class="btn btn-default" asp-controller="Client" asp-action="Clients">Cancel</a>
                @if (UserAppData.HasPermission(Permissions.Update_Client) && (UserAppData.CurrentUserTypeID != (int)TypeOfUser.Employee))
                {
                    <button type="submit" class="btn btn-info pull-right">Update</button>
                }
                @if (UserAppData.HasPermission(Permissions.Client_Update_Personal_Details) && (UserAppData.CurrentUserTypeID == (int)TypeOfUser.Employee))
                {
                    <button type="submit" class="btn btn-info pull-right">Update My Personal Details</button>@String.Empty;
                }

                @if (UserAppData.HasPermission(Permissions.Delete_Client))
                {
                    <a class="btn btn-danger" asp-controller="Client" asp-action="Delete" asp-route-id="@Model.ClientID">Delete</a>
                }
            </div>
        }
        </form>
        <!-- /.box-footer -->
</div>

<script>
    $(document).ready(function () {
        //$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        //    localStorage.setItem('activeTab', $(e.target).attr('href'));
        //});
        //var activeTab = localStorage.getItem('activeTab');
        //if (activeTab) {
        //    $('#myTab a[href="' + activeTab + '"]').tab('show');
        //}
      
        var futureDate = new Date();
        futureDate.setDate(futureDate.getDate() + 60);
        var previousDate = new Date();
        previousDate.setDate(previousDate.getDate() - 60);
        document.getElementById('DueDate').value = new Date().toISOString().substring(0, 10);
        document.getElementById('StartDate').value = previousDate.toISOString().substring(0, 10);
        document.getElementById('EndDate').value = futureDate.toISOString().substring(0, 10);
        showCoApplicantForm();
        $('#ClientGroupID').trigger('change');

    });
    $(function () {
        $('#Salary').blur(function () {
            var tempVal = $('#Salary').val();
            console.debug(tempVal);
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#SalaryError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#SalaryError").text("");
                $(":submit").removeAttr("disabled");
            }
        })

        $('#DeductionPercentage').blur(function () {
            var tempVal = $('#DeductionPercentage').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#DeductionPercentageError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#DeductionPercentageError").text("");
                $(":submit").removeAttr("disabled");
            }
        })

        $('#IncreamentPercentage').blur(function () {
            var tempVal = $('#IncreamentPercentage').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#IncreamentPercentageError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#IncreamentPercentageError").text("");
                $(":submit").removeAttr("disabled");
            }
        })
    })
   
    function showCoApplicantForm(AccountTypeID) {
        var jointAccount = $("#JointAccountEnumValue").val();
        if (AccountTypeID === jointAccount) {
            $("#CoApplicantInfo").show();
        } else {
            $("#CoApplicantInfo").hide();
        }
    }
    function GetCompanyList(affiliationID) {
        var procemessage = "<option value='0'> Please wait whilst we retrieve Registered Companies...</option>";
        $("#CompanyList").html(procemessage).show();
        var url = "/Client/GetCompanyList/";
        //alert(affiliationID);
        //alert(affiliationID == 2);
        $.ajax({
            url: url,
            data: { affiliationID: affiliationID },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data == null || data.length == 0) {
                    if (affiliationID == 2) {
                        $("#AffiliationListNotFound").text("")
                    }
                    else {
                        $("#AffiliationListNotFound").text("No registered Companies Found")
                    }
                }
                else {
                    $("#AffiliationListNotFound").text("");
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                    }
                }
                $("#CompanyList").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>