@model SmartDomain.ClientFee

@using SmartHelper;
@using System.Collections.Generic;
@{
    TempData["Title"] = "Client Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.Client.ClientRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post" asp-controller="Client" asp-action="ClientFeePayment">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Information
                    </div>
                    <!-- /.panel-heading -->

                    <div class="modal-body">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Bank Account</label>
                                <select asp-for="BankAccountID" class="form-control" asp-items="ViewBag.BankAccountList" required>
                                    <option value="">----</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Course</label>

                                <input type="text" class="form-control" name="Course" disabled="disabled" value="@Model.CourseFee.Course.Title">

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Fee</label>
                                <input type="text" class="form-control" name="Fee" disabled="disabled" value="@Model.CourseFee.Name">

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
                                <input type="text" class="form-control" id="InputAmount" name="InputAmount" value="@Model.Amount">
                                <span id="InputAmountError" class="text-danger text-bold"></span>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Due Date</label>
                                <input type="text" class="form-control" name="DueDate" disabled="disabled" value="@UtilityService.ShowDate(@Model.DueDate)">
                            </div>


                            <input type="hidden" name="ClientFeeID" value="@Model.ClientFeeID" />
                            <input type="hidden" name="CourseFeeID" value="@Model.CourseFeeID" />
                            <input type="hidden" name="CourseID" value="@Model.CourseFee.Course.CourseID" />
                            <input type="hidden" name="ClientID" value="@Model.ClientID" />

                        </div>
                        <div class="modal-footer">
                            @if (UtilityService.HasPermission(Permissions.Capture_Payment))
                            {
                                <button type="submit" class="btn btn-primary">Capture</button>}
                            @if (UtilityService.HasPermission(Permissions.View_Client))
                            {<a class="btn btn-info" asp-controller="Client" asp-action="PendingTransactions" asp-route-id="@Model.ClientID">Pending Transactions</a>
                            } <a class="btn btn-default" asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientID">Cancel</a>
                        </div>

                    </div>
                </div>
            </div></div>
    </form>

    <!-- /.box -->
</section>


<script>
    $(document).ready(function () {

    });
    $(function () {
        $('#InputAmount').blur(function () {
            var tempVal = $('#InputAmount').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#InputAmountError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#InputAmountError").text("");
                $(":submit").removeAttr("disabled");
            }
        })
    })

    function GetCompanyList(affiliationID) {
        var procemessage = "<option value='0'> Please wait whilst we retrieve Registered Companies...</option>";
        $("#CompanyList").html(procemessage).show();
        var url = "/Client/GetCompanyList/";
        // alert(affiliationID);
        $.ajax({
            url: url,
            data: { affiliationID: affiliationID },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "";
                if (data == null || data.length == 0) {
                    if (affiliationID == 2) {
                        $("#AffiliationListNotFound").text("")
                    }
                    else {
                        $("#AffiliationListNotFound").text("No registered Companies Found")
                    }
                }
                else {
                    $("#AffiliationListNotFound").text("");
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                    }
                }
                $("#CompanyList").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }


</script>


