@model SmartDomain.ClientFee

@using SmartHelper;
@using System.Collections.Generic;
@{
    TempData["Title"] = "Client Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.Client.ClientRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">@Model.Client.ClientFullName</h3>
        </div>
              <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Information
                    </div>
                    <!-- /.panel-heading -->
                    <form method="post" asp-controller="Client" asp-action="ClientFeePayment">

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Bank Account</label>
                                <select asp-for="BankAccountID" class="form-control" asp-items="ViewBag.BankAccountList" required>
                                    <option value="">----</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Product</label>

                                <input type="text" class="form-control" name="Product" disabled="disabled" value="@Model.ProductFee.Product.Name">

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Fee</label>
                                <input type="text" class="form-control" name="Fee" disabled="disabled" value="@Model.ProductFee.Name">

                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
                                <input type="text" class="form-control" id="InputAmount" name="InputAmount" value="@Model.Amount">
                                <span id="InputAmountError" class="text-danger text-bold"></span>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Due Date</label>
                                <input type="text" class="form-control" name="DueDate" disabled="disabled" value="@UtilityService.ShowDate(@Model.DueDate)">
                            </div>


                            <input type="hidden" name="ClientFeeID" value="@Model.ClientFeeID" />
                            <input type="hidden" name="ProductFeeID" value="@Model.ProductFeeID" />
                            <input type="hidden" name="ProductID" value="@Model.ProductFee.Product.ProductID" />
                            <input type="hidden" name="ClientID" value="@Model.ClientID" />

                        </div>
                        <div class="modal-footer">
                            @if (UserAppData.HasPermission(Permissions.Capture_Payment))
                            {
                                <button type="submit" class="btn btn-primary">Capture</button>}
                            @if (UserAppData.HasPermission(Permissions.View_Client))
                            {<a class="btn btn-info" asp-controller="Client" asp-action="PendingTransactions" asp-route-id="@Model.ClientID">Back To Client Details</a>
                            } <a class="btn btn-default" asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientID">Cancel</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box -->
</section>

<script>


    $(document).ready(function () {

     

    });


    $(function () {
        $('#InputAmount').blur(function () {
            var tempVal = $('#InputAmount').val();
            if (tempVal != this.value.match(/^\d+\.?\d{0,2}/)) {
                $("#InputAmountError").text("Only Decimal Numbers Separated by a Decimal Point Are Allowed in this field")
                $(":submit").attr("disabled", true);
            }
            else {
                $("#InputAmountError").text("");
                $(":submit").removeAttr("disabled");
            }
        })
    })

   
</script>


