@model SmartInterfaces.CoachingProgrammes;
@using SmartHelper;
@using System.Collections.Generic;
@{
    TempData["Title"] = "Client Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.ClientForm?.ClientRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <partial name="_MessageDisplay" />
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-pane fade in" id="Courses">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Model.ClientForm?.ClientRef - Coaching Programmes
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Intake</th>
                                    <th>Date Registered</th>
                                    <th>Topics</th>
                                    <th>Sessions</th>
                                    <th>Completed Sessions</th>
                                    <th>Date Completed</th>
                                    <th>Is De-Registered</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CourseList != null)
                                {
                                        var courses = Model.CourseList.OrderByDescending(x => x.DateRegistered);
                                        @foreach (var course in courses)
                                        {
                                <tr>
                                    <td><a asp-controller="Client" asp-action="ViewClientCourse" asp-route-id="@course.ClientCourseID">@course.CourseName</a></td>
                                    <td>@course.Intake</td>
                                    <td>@course.RegistrationDate</td>
                                    <td>@course.Topics</td>
                                    <td>@course.Sessions</td>
                                    <td>@course.CompletedSessions</td>
                                    <td>@course.DateCompleted</td>
                                    <td>@course.Status</td>
                                </tr>
                                        }
                                    
                                }
                        </table>
                    </div>
                </div>

                <div class="box-footer">
                    @if (UtilityService.HasPermission(Permissions.Add_Client_Course))
                    {
                        <a class="btn  btn-small btn-success pull-right" data-toggle="modal" data-target="#CourseForm">Register</a>
                    }
                    <a class="btn btn-default" asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientForm.ClientID">Cancel</a>

                </div>
            </div>
        </div>
    </div>

    <!-- /.box -->
</section>
<div class="modal fade" id="CourseForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.ClientForm.ClientRef</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Client" asp-action="AddClientCourse">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Course</label>
                        <select asp-for="@Model.CourseID" class="form-control" asp-items="ViewBag.CourseList">
                            <option value="">----</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Intake</label>
                        <select asp-for="@Model.CourseIntakeID" class="form-control" asp-items="ViewBag.CourseIntakeList">
                            <option value="">----</option>
                        </select>
                    </div>
                    <input type="hidden" name="ClientID" value="@Model.ClientForm.ClientID" />
                </div>
                <div class="modal-footer">
                    @if (UtilityService.HasPermission(Permissions.Add_Client_Course))
                    {<button type="submit" class="btn btn-primary">Register</button>}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>
