@model SmartInterfaces.Transactions;
@using SmartHelper;
@using System.Collections.Generic;
@{
    TempData["Title"] = "Client Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.ClientForm.ClientRef
    </h1>
</section>
<section class="content container-fluid">
    <partial name="_MessageDisplay" />
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-pane fade in" id="Transactions">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Model.ClientForm.ClientRef - Payments Files
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Trans Ref</th>
                                    <th>Entity</th>
                                    <th>Transaction Type</th>
                                    <th>Amount</th>
                                    <th>Payment Status</th>
                                    <th>Payment Date</th>
                                    <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.TransactionList != null)
                                {
                                    var payments = Model.TransactionList.OrderByDescending(c => c.TransactionDate);

                                    @foreach (var item in payments)
                                    {
                                        <tr>
                                            <td><a asp-controller="Client" asp-action="ViewClientTransaction" asp-route-id="@item.TransactionID">@item.TransRef</a></td>
                                            <td>@Html.DisplayFor(modelItem => item.Entity)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TransType)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PaymentStatus)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TransactionDate)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-footer">
                    @if (UtilityService.HasPermission(Permissions.Capture_Payment))
                    {
                        <a class="btn  btn-small btn-success pull-right" asp-controller="Transactions" asp-action="AddTransaction" asp-route-ClientID="@Model.ClientID">Upload Payment</a>

                    }
                    <a class="btn btn-default" asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientForm.ClientID">Cancel</a>

                </div>
            </div>
        </div>
    </div>

</section>


