@model SmartDomain.ClientMedicalDetail
@using SmartHelper;
@using System.Collections.Generic;
@{
    TempData["Title"] = "Client Details";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.Client.ClientRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <form method="post" asp-controller="Client" asp-action="ViewMedicalDetail">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contact Information
                    </div>
                    <!-- /.panel-heading -->

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Allergies <i>(If Any)</i>:</label>
                            <textarea class="form-control" name="Allergies">@Model.Allergies</textarea>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Prescribed Medication  <i>(If Any)</i>:</label>
                            <textarea class="form-control" name="PrescribedMedication">@Model.PrescribedMedication</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Preffered Hospital:</label>
                            <input type="text" class="form-control" name="Hospital" value="@Model.Hospital">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Preffered Doctor:</label>
                            <input type="text" class="form-control" name="Doctor" value="@Model.Doctor">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Doctor Phone Number:</label>
                            <input type="tel" class="form-control" name="Telephone" value="@Model.Telephone">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Medical Aid Name:</label>
                            <input type="text" class="form-control" name="MedicalAid" value="@Model.MedicalAid">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Medical Aid Number:</label>
                            <input type="tel" class="form-control" name="MedicalAidNo" value="@Model.MedicalAidNo">
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Other Information:</label>
                            <textarea class="form-control" name="Other">@Model.Other</textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Last Changed By</label>
                            <label for="inputEmail3" class="form-control label-default">@Model.LastChangedBy</label>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Last Updated</label>
                            <label for="inputEmail3" class="form-control label-default">@UtilityService.ShowDateTime(@Model.LastChangedDate)</label>
                        </div>
                        <input type="hidden" name="ClientMedicalID" value="@Model.ClientMedicalID" />
                    </div>
                    <div class="modal-footer">
                        @if (UtilityService.HasPermission(Permissions.Update_Client_Medical_Details))
                        {
                            <button type="submit" class="btn btn-primary">Update</button>}
                        @if (UtilityService.HasPermission(Permissions.Delete_Client_Medical_Details))
                        {<a class="btn btn-danger" asp-controller="Client" asp-action="ActionMedicalDetail" asp-route-medicaldetailID="@Model.ClientMedicalID" asp-route-Clientid="@Model.ClientID">Delete</a>
                        } @if (UtilityService.HasPermission(Permissions.View_Client))
                        {<a class="btn btn-info" asp-controller="Client" asp-action="MedicalFiles" asp-route-id="@Model.ClientID">View More Details</a>
                        }<a class="btn btn-default" asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientID">Cancel</a>
                    </div>


                </div>
            </div>
        </div>
    </form>
   
    <!-- /.box -->
</section>

