@model ClientCourseView


@using SmartHelper;
@using System.Collections.Generic;
@{
    TempData["Title"] = "Client Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @Model.Client.ClientRef
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <partial name="_MessageDisplay" />
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">@Model.Client.ClientFullName</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Information
                    </div>
                    <!-- /.panel-heading -->
                    <form method="post" asp-controller="Client" asp-action="UpdateSessions">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="dataTable_wrapper">
                                    @foreach (var item in Model.Course)
                                        {
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <tr>
                                        <section> 
                                            <h5 class="box-title">@item.Topic</h5>
                                        </section>
                                        </tr>

                                        <tr>
                                            @{
                                                int cnt = 0;
                                                if (item.Sessions != null)
                                                {
                                                    foreach (var session in item.Sessions)
                                                    {
                                                        if (cnt++ % 2 == 0)
                                                        {
                                                        @:</tr><tr>
                                                        }
                                                        @:<td>
                                                            <input type="checkbox"
                                                                   name="selectedSessions"
                                                                   value="@session.ID"
                                                                   @(Html.Raw(session.IsChecked ? "checked=\"checked\"" : "")) />
                                                            @session.Name
                                                        @:</td>
                                                    }
                                                }
                                                else
                                                {
                                                    @:<tr>No Sessions</tr>
                                            }
                                            @:</tr>
                                            }
                                            
                                        </table>
                                            }
                                        </div>

                                    </div>
                                    <input type="hidden" name="CourseID" value="@Model.CourseID" />
                                    <input type="hidden" name="ClientCourseID" value="@Model.ClientCourseID" />

                                </div>
                                <div class="modal-footer">
                                    @if (UserAppData.HasPermission(Permissions.Update_Client_Course))
                                    {
                                        @if (!@Model.IsDeRegistered || !@Model.DateCompleted.HasValue)
                                        {
                                            <button type="submit" class="btn btn-primary">Mark Sessions As Complete</button>}
                                    }

                                    @if (UserAppData.HasPermission(Permissions.View_Client))
                                    {<a class="btn btn-info" asp-controller="Client" asp-action="Courses" asp-route-id="@Model.ClientID">View More Programmes</a>
                                    } <a class="btn btn-default" asp-controller="Client" asp-action="ViewClient" asp-route-id="@Model.ClientID">Cancel</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box -->
        </section>


