@model IEnumerable<SmartDomain.NoticeBoard>
@using SmartHelper;
@{
    TempData["Title"] = "NoticeBoard";
}

@{
    ViewBag.Title = "Panels";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Notice Board</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">

                <tr>
                    @{
                        int cnt = 0;

                        @foreach (var item in Model)
                        {
                            if (cnt++ % 3 == 0)
                            {
                            @:</tr><tr>
                            }
                            @:<td>
                                <div class="@UtilityService.GetPanelColor(cnt)">
                                    <div class="panel-heading">
                                        <a asp-controller="NoticeBoard" asp-action="ViewNotice" asp-route-id="@item.NoticeID">@item.Title</a>
                                    </div>
                                    <div class="panel-body">
                                        <p> @item.DetailsPreview  <a asp-controller="NoticeBoard" asp-action="ViewNotice" asp-route-id="@item.NoticeID">View More ...</a></p>
                                    </div>
                                    <div class="panel-footer">
                                        @item.PriorityRank.Name
                                    </div>
                                </div>
                                @:</td>
                        }
                    @:</tr>
                    }
                </table>
            </div>

        </div>

    </div>
    @*@if (Model != null)
        {
            int cnt = 0;
            <div class="row">
                <div class="col-lg-4">
                    @foreach (var item in Model)
                    {
                        if (cnt++ % 2 == 0)
                        {


                            <div class="@UtilityService.GetPanelColor(cnt)">
                                <div class="panel-heading">
                                    <a asp-controller="NoticeBoard" asp-action="ViewNotice" asp-route-id="@item.NoticeID">@item.Title</a>
                                </div>
                                <div class="panel-body">
                                    <p> @item.Details</p>
                                </div>
                                <div class="panel-footer">
                                    @item.PriorityRank.Name
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        }*@

