

@using SmartHelper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@UtilityService.ApplicationName</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/bower_components/morris.js/morris.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/bower_components/font-awesome5.15.3/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">

    <link href="~/dist/css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/dist/css/skins/skin-green.min.css">
    @*<link rel="stylesheet" href="~/dist/css/skins/skin-blue.min.css">*@
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    @*<link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">*@
    <link href="~/Custom/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <!-- DataTables CSS -->
    <link href="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <!-- DataTables Responsive CSS -->
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/dataTables.responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/morrisjs/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/font-awesome5.15.3/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <!-- jQuery -->
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/bower_components/metisMenu/dist/metisMenu.min.js")"></script>


    <script src="~/Content/css"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>*@
    <script src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/bower_components/metisMenu/dist/metisMenu.min.js")"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
@*<body class="hold-transition skin-blue sidebar-mini">*@
<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a asp-controller="Home" asp-action="Dashboard" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>@UtilityService.ApplicationNamePrefix</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>@UtilityService.ApplicationName </b></span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                @{
                                    if (UtilityService.UserProfileImage != null)
                                    {
                                        var base64 = Convert.ToBase64String(UtilityService.UserProfileImage);
                                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                        <img src="@imgSrc" class="user-image" alt="@UtilityService.UserFullName" style="width:50px;height:50px;      />
                                        }
                                        else
                                        {
                                        <img src="~/dist/img/profileIcon.png" class="user-image" alt="@UtilityService.UserFullName">
                                    }
                                }
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@UtilityService.UserFullName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    @{
                                        if (UtilityService.UserProfileImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(UtilityService.UserProfileImage);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" class="img-circle" alt="@UtilityService.UserFullName" style="width:50px;height:50px;      />
                                            }
                                            else
                                            {
                                            <img src="~/dist/img/profileIcon.png" class="img-circle" alt="@UtilityService.UserFullName">
                                        }
                                    }

                                    <p>
                                        @UtilityService.UserFullName
                                        <small>@UtilityService.UserRole</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <center><text class="text-success">Version : <b>@UtilityService.ApplicationVersion </b> Environment : <b>@UtilityService.SiteEnvironment.ToString()</b></text></center>
                                    </div>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a asp-controller="User" asp-action="ViewUser" asp-route-username="@UtilityService.CurrentUserName" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a asp-controller="Login" asp-action="Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar skin-green">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar skin-green">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        @{
                            if (UtilityService.UserProfileImage != null)
                            {
                                var base64 = Convert.ToBase64String(UtilityService.UserProfileImage);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrc" class="img-circle" alt="@UtilityService.UserFullName" style="width:50px;height:50px;" />
                            }
                            else
                            {
                                <img src="~/dist/img/profileIcon.png" class="img-circle" alt="@UtilityService.UserFullName">
                            }
                        }
                    </div>
                    <div class="pull-left info">
                        <p>@UtilityService.CurrentUserName</p>
                        <!-- Status -->
                        <a asp-controller="User" asp-action="ViewUser" asp-route-username="@UtilityService.CurrentUserName"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form (Optional) -->
                <form asp-controller="Client" asp-action="Clients" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="accountNum" class="form-control" placeholder="Search Employee ...">
                        <span class="input-group-btn">
                            <button type="submit" name="btnSearch" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                @await Component.InvokeAsync(UtilityService.MenuComponent.ToString())
            </section>

        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            @*<center>
                    <strong>Powered By <a target="_blank" href="@UtilityService.GetValue(Support.Company_Registration_Link)">@UtilityService.GetValue(Support.CompanyName)</a> &copy; @DateTime.Now.Year  Contact :<a href="@UtilityService.WhatappSendMessageLink" style="text-decoration: none;" target="_blank"><img src="~/dist/img/Whatsapp.png" class="user-image" alt="Link to Send Message on Whatsapp" width="20" height="20" /></a></strong>
                </center>*@
            <partial name="_Footer" />
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/Custom/vendors/datatables/dataTables.bootstrap.js"></script>
    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/raphael/raphael-min.js")"></script>

    <!-- DataTables JavaScript -->
    <script src="@Url.Content("~/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>